<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/foot.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../css/general.css"/>
		<link rel="stylesheet" type="text/css" href="../css/list.css"/>
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css"/>
	</head>
	<body>
		<div class="head">
			<div class="head-con">
				<div class="header-right">
					<div class="notice">
						<a class="glyphicon glyphicon-volume-up" id="notice" href="#"></a>
						<a href="#" id="notice1"><span class="iconfont">&#xe604;</span>网站公告</a>
					</div>
					
					<div class="logo">
						<a href="#" class="weixin">
							<img class="vx" src="../images/vx.jpg" />
							<span id="qrcode" >
								<img src="../images/erweima.jpg"/>
							</span>
						</a>
						<a href="#" class="weibo">
							<img src="../images/vb.jpg"/>
						</a>
					</div>
				</div>
				
				<div class="header-left">
					<div id="welcome">
						您好，<strong class="loginuser">欢迎光临凡客诚品！</strong>&nbsp;
						<span>
							<a href="login.html" id="login">登录</a>
							&nbsp;|&nbsp;
							<a href="register.html" id="signin">注册</a>
						</span>
						<a href="#" id="myorder">我的订单</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="search">
			<div class="search1">
				<div class="search2">
					<div id="searchs">
						<!-- <form action="#">
							<input type="text" id="text" placeholder="搜“日式免烫衬衫”，体验与众不同" />
							<button type="submit" id="sub">搜索</button>
						</form> -->
					</div>
					<div class="shop">
						<i id="i">&nbsp;&nbsp;购物车</i>
						(<span id="count">0</span>)
						<div class="shop1">
							您的购物车没有任何商品
						</div>
					</div>
				</div>
				<div class="hot">
					<em>热门搜索：</em>
					<a href="#">衬衫</a>
					<a href="#">卫衣</a>
					<a href="#">帆布鞋</a>
					<a href="#">羽绒服</a>
					<a href="#">外套</a>
					<a href="#">运动户外</a>
					<a href="#">水柔棉</a>
				</div>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="img"></div>
			<ul>
				<li class="list">
					<a href="homePage.html">首页</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
					</div>
				</li>
				<li class="list">
					<a href="chenshan.html">衬衫</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>免烫</li>
							<li>易打理</li>
							<li>休闲</li>
							<li>高支</li>
							<li>法兰绒</li>
							<li>灯芯绒</li>
							<li>牛仔</li>
							<li>麻棉</li>
							<li>水洗棉</li>
							<li>泡泡纱</li>
							<li>商务衬衫</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="weiyi.html">卫衣</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>熊本熊</li>
							<li>创可贴</li>
							<li>开衫</li>
							<li>连帽</li>
							<li>圆领</li>
							<li>水柔棉</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="waitao.html">外套</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>大衣</li>
							<li>皮肤衣</li>
							<li>夹克</li>
							<li>西服</li>
							<li>羽绒服</li>
							<li>C9设计款</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="txu.html">T恤</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>熊本熊</li>
							<li>水柔棉T</li>
							<li>运动T恤</li>
							<li>POLO</li>
							<li>简鱼</li>
							<li>欧飞鸿</li>
							<li>好小猪</li>
							<li>剪纸猪</li>
							<li>赵老师的猪</li>
							<li>山鸟叔</li>
							<li>本广</li>
							<li>长场雄</li>
							<li>药</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="zhenzhishan.html">针织衫</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>棉线衫</li>
							<li>羊毛衫</li>
							<li>空调衫</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="ku.html">裤</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>针织裤</li>
							<li>休闲裤</li>
							<li>牛仔裤</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="xie.html">鞋</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>复古跑鞋</li>
							<li>帆布鞋</li>
							<li>休闲鞋</li>
							<li>运动鞋</li>
							<li>皮鞋</li>
							<li>凉鞋</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="#">家居配饰</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
						<ol>
							<li>内衣袜品</li>
							<li>家居服</li>
							<li>家居鞋</li>
							<li>床品套件</li>
							<li>被子</li>
							<li>毯子</li>
							<li>枕</li>
							<li>毛巾</li>
							<li>手机壳</li>
							<li>皮带</li>
							<li>箱包</li>
						</ol>
					</div>
				</li>
				<li class="list">
					<a href="#">新品</a>
					<span>|</span>
					<div class="sednav">
						<span id="red"></span>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="content">
			
		</div>

		<!--空白间距-->
		<div class="space"></div>
		<!--底部通栏-->	
		<div class="vanclFoot">
			<div class="customer">
				<ol>
					<li>
						<a href="javascript:;">
							<p class="p1">
								<img src="http://i4.vanclimg.com/cms/20160802/onlinecustomer.png"/>
							</p>
							<p class="p2">7x9小时在线客服</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<p class="p1">
								<img src="http://i2.vanclimg.com/cms/20160802/seven.png"/>
							</p>
							<p class="p3">7天内退货</p>
							<p class="p3">购物满199元免运费</p>
						</a>
					</li>
					<li style="border-right: none;">
							<p style="margin: 0 auto 5px;text-align: center;">
								<img src="http://i7.m.vancl.com/oms/2014_8_29_16_39_33_7709.jpg" style="width: 104px; height: 104px;"/>
							</p>
							<p class="p3">扫描下载<i>凡客</i>客户端</p>
					</li>
				</ol>
			</div>
			<div class="others">
				<ul>
					<li><a href="javascript:;">关于凡客</a></li>
					<li><a href="javascript:;">新手指南</a></li>
					<li><a href="javascript:;">配送范围及时间</a></li>
					<li><a href="javascript:;">支付方式</a></li>
					<li><a href="javascript:;">售后服务</a></li>
					<li style="border-right: none;"><a href="#">帮助中心</a></li>
				</ul>
			</div>
		</div>
		
		
		<div class="footArea">
			<div class="foottop">
				<div class="foottop1">
					<p> Copyright 2007 - 2019 vancl.com All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</p>
					<p> 凡客诚品（北京）科技有限公司</p>
				</div>
			</div>
			<div class="footbottom">
				<a href="javascript:;"><img src="../images/f1.jpg"/></a>
				<a href="javascript:;"><img src="../images/f2.jpg"/></a>
				<a href="javascript:;"><img src="../images/f3.jpg"/></a>
				<a href="javascript:;"><img src="../images/f4.jpg"/></a>
				<a href="javascript:;"><img src="../images/f5.jpg"/></a>
				<a href="javascript:;"><img src="../images/f6.jpg"/></a>
			</div>
		</div>
		
		
		<!--回顶部-->
		<div class="back">
			<ul>
				<li><a href="javascript:;"><img src="../images/b1.jpg" style="height: 76px;"/></a></li>
				<li><a href="javascript:;"><img src="../images/b2.jpg" style="height: 76px;"/></a></li>
				<li><a href="javascript:;"><img src="../images/b3.jpg" style="height: 68px;"/></a></li>
				<li><a class="gotop" href="javascript:;"><img src="../images/b4.jpg" style="height: 56px;"/></a></li>
			</ul>
		</div>
	</body>
	<script src="../jquery/jquery-1.8.3.min.js"></script>
	
	<script src="../js/utils.js"></script>
	<script src="../js/cookie.js"></script>
	<script src="../js/pagination.js"></script>
	<script src="../js/getLogin.js"></script>
	<script src="../js/foot.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/jss/zhenzhishan.js"></script>
	
</html>
